html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.full {
  height: 100%;
  width: 100%;
}

.glass-menu {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.glass-menu > .el-menu-item {
  border-radius: 4px;
}

.glass-menu > .el-menu-item:hover {
  background: rgba(255, 255, 255, 0.20) !important;

}

.glass-menu > .is-active {
  background: rgba(255, 255, 255, 0.25) !important;
}